snippet req
	require "${1}"
	
snippet reqrel
	require_relative "${1}"

snippet defs
	def self.${1}
		${2}
	end

snippet def
	def ${1}
		${2}
	end

snippet defmm
	def method_missing(meth, *args, &blk)
		${1}
	end

snippet :
	:${1} => ${2}
	
